/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url("jawlinebb2.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}
nav { text-decoration: none;
  font-family: 'Open Sans', sans-serif;


}
h1 { 
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: #fceb00;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: white;

}
.headings a {
  color: #fceb00;
  text-decoration: none;  


}
body {
  color: white;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  
          
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.inner-cover h1{
    color: #fff53a;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.lead{ padding: -15px;


 }

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;

}
.masthead-nav > li + li {
  margin-left: 40px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,  
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fceb00;
}
.masthead-nav > .instagram { 
    size: 40%;


}
/* IMAGE GALLERY *//* IMAGE GALLERY *//* IMAGE GALLERY *//* IMAGE GALLERY */

div.responsive {
  margin-right: 2px;
}

div.gallery {
    border: 0.25px solid #ccc;
    
}

div.gallery:hover {
    border: 0.25px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    
    margin: 10px;
    padding: 0 6px;
    float: left;
    width: 20%;
}

@media only screen and (max-width: 700px) {
    
    .responsive {
        width: 49.99999%;
        margin: 1px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* IMAGE GALLERY END */
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.mastfoot .inner {

    font-size: 9px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    padding: 100px;
    vertical-align: top;

  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    display: block;
    width: 700px;
  }
  body {
    height: 100%;
    background-color: #333;    
  }
 

}
@media screen and (max-width:900px) {
  p.lead { display: none;
  }
  h1 a{ 
    font-size: 50%;


  }
  br { display: none;


  }
  .inner {
    display: none;
  }

  .masthead
  .mastfoot
  .cover-container {
    display: block;
  }
  body {
    height: 100%;
    background-image: url("mobilebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
  }    
      
  }